body {
  font: 18px Arial;
  margin: 0;

}

.square-layout {
  display: flex;
  flex-wrap: wrap;
}

.square-layout > * {
  width: 50%;
  padding-bottom: 50%;
  position: relative;
}

.square-layout > * > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
